<h2>Informações</h2>

<span>Você está editando</span> : {{selected_client.name}} {{selected_client.surname}}


<input type="text" [(ngModel)] = "selected_client.id" readonly> <br>
<input type="text" [(ngModel)] = "selected_client.name"> <br>
<input type="text" [(ngModel)] = "selected_client.surname"> <br>
<!-- <input type="text" [(ngModel)] = "selected_client.phone"> <br> -->

<button (click)="update()" class="button">Atualizar Cliente</button>

<button (click)="delete()" class="button">Deletar Cliente</button>

<button (click)="newClient()" class="button primary">Novo</button>
